.container-about {
    background-color: #879100;
    background-image: url("textured-paper.png");
    min-width: 50vh;
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: large;
    justify-content: space-evenly;
    position: absolute;
    object-fit: fill;
    width: 100%;
    overflow-x: hidden;
}

.self {
    background-color: #879100;
    background-image: url("textured-paper.png");
    position: sticky;
    margin-left: 1em;
    margin-top: 0em;
    width: "30px";
    height: "60px";
}
.bio {
    background-color: #879100;
    background-image: url("textured-paper.png");
    position: sticky;
    margin-right: 1em;
    margin-left: 1em;
    width: "20px";
    height: "60px";
    border: 0.5pt;
    border-style: solid;
    padding: 1px;
    margin-top: 1em;

}

