.welcome-msg {
    background-image: url("brick-wall.png");
    object-fit: contain;
    display: inline-block;
    min-height: 95vh;
    width: 100%;
    color:"#f0cdee";
}
.dope {
    background-image: url("black-laptop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
    display: inline-block;
    min-height: 95vh;
    width: 100%;
    color:"#688a56";

}

.wrapper {
    text-align: center;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
}